body {
  width: 100%;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  padding-inline: 10vw;
}

.padding {
  padding-inline: 10vw;
}

.jumbotron {
  background-image: url("./assets/img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  height: 100vh;
  padding-top: 20vh;
}

.navbar {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  color: #333;
}

.header-title {
  font-size: clamp(30px, 5vw, 60px);
}

.title-begin {
  color: #0055a4;
}

.title-mid {
  color: #ffffff;
}

.title-end {
  color: #ef4135;
}

.list {
  font-size: clamp(20px, 1.6vw, 32px);
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.jumbo-title {
  font-size: clamp(24px, 10vw, 100px);
}

.jumbo-paragraph {
  font-size: clamp(20px, 5vw, 50px);
  color: white;
}

.nav-custom {
  display: flex;
  align-items: center;
  padding-inline: 10vw;
}

.blur {
  backdrop-filter: blur(100px);
  width: 100%;
  background-color: transparent;
}

.not-index {
  margin-top: 15vh;
  padding-inline: 20px;
}

.card-container {
  width: 100%;
  padding-inline: 5%;
}

.card-container h3 {
  margin-top: 5vh;
}

.card {
  width: 100%;
  height: 100%;
  min-height: 40vh;
}

.place-title {
  font-size: clamp(20px, 7vw, 50px);
}

.place-paragraph {
  font-size: clamp(16px, 3vw, 40px);
}

.logo-up {
  position: absolute;
  top: 0;
  left: 14;
}

.white-text-shadow {
  text-shadow: 4px 4px 4px rgb(255, 255, 255);
}

img {
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .padding {
    padding-inline: 10px;
  }
  .nav-custom {
    padding-inline: 10px;
  }

  .card-container h3 {
    margin-top: 10px;
  }

  .card {
    margin-top: 20px;
  }
}

.animated-leavin {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range-start: 140vh;
  border-radius: 10px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animated-join-left {
  animation: join-left ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes join-left {
  from {
    transform: translateX(-50vw);
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-join-right {
  animation: join-right ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes join-right {
  from {
    transform: translateX(50vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-comin {
  animation: fade-in ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
    scale: 4;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
